<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="96D7FC33-E267-49A2-95B9-6AFBA64DF37B" Name="FragmentLab" Language="1033" Version="2.5.0.7" Manufacturer="ScheltemaLab" UpgradeCode="C330A162-85FC-4502-9C3D-4E6ED82D5434">
        <Package Description="Test file in a Product" Comments="Simple test" InstallerVersion="200" Compressed="yes" />
        <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles" />
            <Directory Id="FRAGMENTLAB" Name="FragmentLab">
                <Component Id="BOUNCYCASTLE.CRYPTO.DLL" DiskId="1" Guid="2DC8BB0A-7AD4-40DD-B3F0-A29C342FA9AC">
                    <File Id="BOUNCYCASTLE.CRYPTO.DLL" Name="BouncyCastle.Crypto.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\BouncyCastle.Crypto.dll" />
                </Component>
                <Component Id="FRAGMENTLAB.EXE" DiskId="1" Guid="FB37A3E2-64DA-4B97-8423-AD28E1FC6BD6">
                    <File Id="FRAGMENTLAB.EXE" Name="FragmentLab.exe" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\FragmentLab.exe">
                        <Shortcut Id="desktopShortcut" Directory="DesktopFolder" Name="FragmentLab" WorkingDirectory="INSTALLDIR" Advertise="yes" Icon="DesktopIcon.exe" IconIndex="0" />
                        <Shortcut Id="ExeShortcut" Directory="ProgramMenuDir" Name="FragmentLab" Advertise="yes" Icon="StartMenuIcon.exe" IconIndex="0" />
                    </File>
                </Component>
                <Component Id="FRAGMENTLAB.EXE.CONFIG" DiskId="1" Guid="89916740-D17A-46FF-9E9F-DC612091D083">
                    <File Id="FRAGMENTLAB.EXE.CONFIG" Name="FragmentLab.exe.config" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\FragmentLab.exe.config" />
                </Component>
                <Component Id="FRAGMENTLAB.PDB" DiskId="1" Guid="FB16D3E9-1C74-446A-A00D-4C389873252C">
                    <File Id="FRAGMENTLAB.PDB" Name="FragmentLab.pdb" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\FragmentLab.pdb" />
                </Component>
                <Component Id="GPLV2.TXT" DiskId="1" Guid="A79C9E38-E44C-4A7F-B492-4D9F65BE71C3">
                    <File Id="GPLV2.TXT" Name="gplv2.txt" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\gplv2.txt" />
                </Component>
                <Component Id="HECKLIB_CORE.DLL" DiskId="1" Guid="C128C9FB-ADC4-4667-BAE0-8818A83AC36B">
                    <File Id="HECKLIB_CORE.DLL" Name="hecklib-core.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\hecklib-core.dll" />
                </Component>
                <Component Id="HECKLIB_CORE.PDB" DiskId="1" Guid="429D4619-95CC-4E79-AD62-4CC12FF9B1C2">
                    <File Id="HECKLIB_CORE.PDB" Name="hecklib-core.pdb" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\hecklib-core.pdb" />
                </Component>
                <Component Id="HECKLIB_DATABASE.DLL" DiskId="1" Guid="694F634F-7577-422A-AA7F-EFD7FAA14D73">
                    <File Id="HECKLIB_DATABASE.DLL" Name="hecklib-database.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\hecklib-database.dll" />
                </Component>
                <Component Id="HECKLIB_DATABASE.PDB" DiskId="1" Guid="5C27A170-BB23-45CB-906E-58928E5C0397">
                    <File Id="HECKLIB_DATABASE.PDB" Name="hecklib-database.pdb" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\hecklib-database.pdb" />
                </Component>
                <Component Id="HECKLIB_GRAPHICS.DLL" DiskId="1" Guid="35CC7682-2F88-4DA1-8981-BE10E7B3C6EA">
                    <File Id="HECKLIB_GRAPHICS.DLL" Name="hecklib-graphics.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\hecklib-graphics.dll" />
                </Component>
                <Component Id="HECKLIB_GRAPHICS.PDB" DiskId="1" Guid="00CE0453-CFDB-4225-8AB0-7CA2ECC9158B">
                    <File Id="HECKLIB_GRAPHICS.PDB" Name="hecklib-graphics.pdb" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\hecklib-graphics.pdb" />
                </Component>
                <Component Id="HECKLIB_PRECALC.DLL" DiskId="1" Guid="3AF3DEF9-E40E-410F-91BA-94450E7B1311">
                    <File Id="HECKLIB_PRECALC.DLL" Name="hecklib-precalc.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\hecklib-precalc.dll" />
                </Component>
                <Component Id="HECKLIB_RAWFILES_BRUKER.DLL" DiskId="1" Guid="8B2F9487-7CF6-4CED-B1E6-3F9BBEB5AF26">
                    <File Id="HECKLIB_RAWFILES_BRUKER.DLL" Name="hecklib-rawfiles-bruker.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\hecklib-rawfiles-bruker.dll" />
                </Component>
                <Component Id="HECKLIB_RAWFILES_BRUKER.PDB" DiskId="1" Guid="AEB4734F-7371-4530-A213-130C27597E42">
                    <File Id="HECKLIB_RAWFILES_BRUKER.PDB" Name="hecklib-rawfiles-bruker.pdb" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\hecklib-rawfiles-bruker.pdb" />
                </Component>
                <Component Id="HECKLIB_RAWFILES_MGF.DLL" DiskId="1" Guid="58022BF3-1831-4508-8FCF-B009988B301D">
                    <File Id="HECKLIB_RAWFILES_MGF.DLL" Name="hecklib-rawfiles-mgf.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\hecklib-rawfiles-mgf.dll" />
                </Component>
                <Component Id="HECKLIB_RAWFILES_MGF.PDB" DiskId="1" Guid="B94189F8-8C12-44BE-9CF1-A7A7591EC2C3">
                    <File Id="HECKLIB_RAWFILES_MGF.PDB" Name="hecklib-rawfiles-mgf.pdb" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\hecklib-rawfiles-mgf.pdb" />
                </Component>
                <Component Id="HECKLIB_RAWFILES_MZXML.DLL" DiskId="1" Guid="782B7BD2-9072-4BBC-8C0A-78877486A46C">
                    <File Id="HECKLIB_RAWFILES_MZXML.DLL" Name="hecklib-rawfiles-mzxml.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\hecklib-rawfiles-mzxml.dll" />
                </Component>
                <Component Id="HECKLIB_RAWFILES_MZXML.PDB" DiskId="1" Guid="E4CB9FAD-9732-4AE2-9DAE-089595B490B0">
                    <File Id="HECKLIB_RAWFILES_MZXML.PDB" Name="hecklib-rawfiles-mzxml.pdb" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\hecklib-rawfiles-mzxml.pdb" />
                </Component>
                <Component Id="HECKLIB_RAWFILES_THERMO.DLL" DiskId="1" Guid="BD367A5A-C547-499E-8BFA-B98720789A3A">
                    <File Id="HECKLIB_RAWFILES_THERMO.DLL" Name="hecklib-rawfiles-thermo.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\hecklib-rawfiles-thermo.dll" />
                </Component>
                <Component Id="HECKLIB_RAWFILES_THERMO.DLL.CONFIG" DiskId="1" Guid="EEE9B3AB-D9C0-4DC3-83B9-4A017BAA4DF1">
                    <File Id="HECKLIB_RAWFILES_THERMO.DLL.CONFIG" Name="hecklib-rawfiles-thermo.dll.config" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\hecklib-rawfiles-thermo.dll.config" />
                </Component>
                <Component Id="HECKLIB_RAWFILES_THERMO.PDB" DiskId="1" Guid="045A3DA9-2F0B-4A4C-BF68-162A97EDB547">
                    <File Id="HECKLIB_RAWFILES_THERMO.PDB" Name="hecklib-rawfiles-thermo.pdb" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\hecklib-rawfiles-thermo.pdb" />
                </Component>
                <Component Id="HECKLIB_RAWFILES.DLL" DiskId="1" Guid="E2988251-4D40-4929-970E-5BCC53598281">
                    <File Id="HECKLIB_RAWFILES.DLL" Name="hecklib-rawfiles.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\hecklib-rawfiles.dll" />
                </Component>
                <Component Id="HECKLIB_RAWFILES.PDB" DiskId="1" Guid="002EB5CF-51E1-4D6E-A1FB-308D626C830C">
                    <File Id="HECKLIB_RAWFILES.PDB" Name="hecklib-rawfiles.pdb" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\hecklib-rawfiles.pdb" />
                </Component>
                <Component Id="HECKLIB_WIN32.DLL" DiskId="1" Guid="122E9689-0D2D-4637-AF09-6FBBAB146537">
                    <File Id="HECKLIB_WIN32.DLL" Name="hecklib-win32.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\hecklib-win32.dll" />
                </Component>
                <Component Id="HECKLIB_WIN32.DLL.CONFIG" DiskId="1" Guid="414E53EF-426E-4B3F-9AD2-6DA0D394F920">
                    <File Id="HECKLIB_WIN32.DLL.CONFIG" Name="hecklib-win32.dll.config" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\hecklib-win32.dll.config" />
                </Component>
                <Component Id="HECKLIB_WIN32.PDB" DiskId="1" Guid="82603586-2D96-4E73-AECF-99A6A2C6D6C5">
                    <File Id="HECKLIB_WIN32.PDB" Name="hecklib-win32.pdb" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\hecklib-win32.pdb" />
                </Component>
                <Component Id="ITEXTSHARP.DLL" DiskId="1" Guid="08306319-1D50-429E-82E7-5C624C3DEE7B">
                    <File Id="ITEXTSHARP.DLL" Name="itextsharp.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\itextsharp.dll" />
                </Component>
                <Component Id="LIVECHARTS.DLL" DiskId="1" Guid="B25FE9D2-9604-4AF6-9EDD-8C62DF173D54">
                    <File Id="LIVECHARTS.DLL" Name="LiveCharts.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\LiveCharts.dll" />
                </Component>
                <Component Id="LIVECHARTS.WINFORMS.DLL" DiskId="1" Guid="A2EF0F1B-0DF9-444A-BACE-37AB8BF3105D">
                    <File Id="LIVECHARTS.WINFORMS.DLL" Name="LiveCharts.WinForms.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\LiveCharts.WinForms.dll" />
                </Component>
                <Component Id="LIVECHARTS.WPF.DLL" DiskId="1" Guid="2C5F3C0D-D9F9-4877-8506-50E4603D1DED">
                    <File Id="LIVECHARTS.WPF.DLL" Name="LiveCharts.Wpf.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\LiveCharts.Wpf.dll" />
                </Component>
                <Component Id="OBJECTLISTVIEW.DLL" DiskId="1" Guid="20C3BD8F-7ADA-465E-A14E-D5D599474247">
                    <File Id="OBJECTLISTVIEW.DLL" Name="ObjectListView.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\ObjectListView.dll" />
                </Component>
                <Component Id="OXYPLOT.CORE.DRAWING.DLL" DiskId="1" Guid="2541AECB-EBD4-4EFB-ADF5-9108F73801A9">
                    <File Id="OXYPLOT.CORE.DRAWING.DLL" Name="OxyPlot.Core.Drawing.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\OxyPlot.Core.Drawing.dll" />
                </Component>
                <Component Id="OXYPLOT.DLL" DiskId="1" Guid="AD81C5AD-5D85-410E-8CA8-7D174F0A6935">
                    <File Id="OXYPLOT.DLL" Name="OxyPlot.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\OxyPlot.dll" />
                </Component>
                <Component Id="PDFSHARP_WPF.DLL" DiskId="1" Guid="AD3A9CA8-A566-4016-AD38-2AD4F88ED555">
                    <File Id="PDFSHARP_WPF.DLL" Name="PdfSharp-WPF.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\PdfSharp-WPF.dll" />
                </Component>
                <Component Id="PDFSHARP.CHARTING_WPF.DLL" DiskId="1" Guid="91914DD0-16BB-482C-AF66-61B9AE8A8CCF">
                    <File Id="PDFSHARP.CHARTING_WPF.DLL" Name="PdfSharp.Charting-wpf.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\PdfSharp.Charting-wpf.dll" />
                </Component>
                <Component Id="PDFSHARP.CHARTING.DLL" DiskId="1" Guid="B466203A-B29B-49C1-959F-88F1499F8150">
                    <File Id="PDFSHARP.CHARTING.DLL" Name="PdfSharp.Charting.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\PdfSharp.Charting.dll" />
                </Component>
                <Component Id="PDFSHARP.DLL" DiskId="1" Guid="F897C0D2-3433-4E2B-A477-04047399A43D">
                    <File Id="PDFSHARP.DLL" Name="PdfSharp.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\PdfSharp.dll" />
                </Component>
                <Component Id="PDFSHARP.XPS.DLL" DiskId="1" Guid="5E209DED-7C38-41E9-B051-D7888498D1CB">
                    <File Id="PDFSHARP.XPS.DLL" Name="PdfSharp.Xps.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\PdfSharp.Xps.dll" />
                </Component>
                <Component Id="SYSTEM.BUFFERS.DLL" DiskId="1" Guid="B740BC15-D4BD-4202-BB80-4E3475D5288F">
                    <File Id="SYSTEM.BUFFERS.DLL" Name="System.Buffers.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\System.Buffers.dll" />
                </Component>
                <Component Id="SYSTEM.DATA.SQLITE.DLL" DiskId="1" Guid="716F8B7C-451C-41B1-8012-299DA900AA97">
                    <File Id="SYSTEM.DATA.SQLITE.DLL" Name="System.Data.SQLite.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\System.Data.SQLite.dll" />
                </Component>
                <Component Id="SYSTEM.DRAWING.COMMON.DLL" DiskId="1" Guid="E5A2FCAB-96FD-4A9A-9FCD-A89B1FC10B58">
                    <File Id="SYSTEM.DRAWING.COMMON.DLL" Name="System.Drawing.Common.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\System.Drawing.Common.dll" />
                </Component>
                <Component Id="SYSTEM.IO.PACKAGING.DLL" DiskId="1" Guid="482F2431-C6CD-4132-A5B4-A64257863535">
                    <File Id="SYSTEM.IO.PACKAGING.DLL" Name="System.IO.Packaging.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\System.IO.Packaging.dll" />
                </Component>
                <Component Id="SYSTEM.MEMORY.DLL" DiskId="1" Guid="3A3532CE-FC43-487F-B303-A6A809F96BD5">
                    <File Id="SYSTEM.MEMORY.DLL" Name="System.Memory.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\System.Memory.dll" />
                </Component>
                <Component Id="SYSTEM.NUMERICS.VECTORS.DLL" DiskId="1" Guid="DBF28F70-D958-47FE-915E-6A727C8B2887">
                    <File Id="SYSTEM.NUMERICS.VECTORS.DLL" Name="System.Numerics.Vectors.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\System.Numerics.Vectors.dll" />
                </Component>
                <Component Id="SYSTEM.RESOURCES.EXTENSIONS.DLL" DiskId="1" Guid="F6F86A45-BD73-459C-A53C-4AA4C0077231">
                    <File Id="SYSTEM.RESOURCES.EXTENSIONS.DLL" Name="System.Resources.Extensions.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\System.Resources.Extensions.dll" />
                </Component>
                <Component Id="SYSTEM.RUNTIME.COMPILERSERVICES.UNSAFE.DLL" DiskId="1" Guid="6B6CA109-883C-4BDB-AEF9-8010BF69AFFE">
                    <File Id="SYSTEM.RUNTIME.COMPILERSERVICES.UNSAFE.DLL" Name="System.Runtime.CompilerServices.Unsafe.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\System.Runtime.CompilerServices.Unsafe.dll" />
                </Component>
                <Component Id="THERMOFISHER.COMMONCORE.BACKGROUNDSUBTRACTION.DLL" DiskId="1" Guid="4A88844B-5652-46A3-916D-15C8C0A69A16">
                    <File Id="THERMOFISHER.COMMONCORE.BACKGROUNDSUBTRACTION.DLL" Name="ThermoFisher.CommonCore.BackgroundSubtraction.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\ThermoFisher.CommonCore.BackgroundSubtraction.dll" />
                </Component>
                <Component Id="THERMOFISHER.COMMONCORE.DATA.DLL" DiskId="1" Guid="29C7CB88-8C9B-4E03-B347-E24E038F3DDC">
                    <File Id="THERMOFISHER.COMMONCORE.DATA.DLL" Name="ThermoFisher.CommonCore.Data.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\ThermoFisher.CommonCore.Data.dll" />
                </Component>
                <Component Id="THERMOFISHER.COMMONCORE.MASSPRECISIONESTIMATOR.DLL" DiskId="1" Guid="66C55F9C-4499-4ED9-9EB7-72A42237D35B">
                    <File Id="THERMOFISHER.COMMONCORE.MASSPRECISIONESTIMATOR.DLL" Name="ThermoFisher.CommonCore.MassPrecisionEstimator.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\ThermoFisher.CommonCore.MassPrecisionEstimator.dll" />
                </Component>
                <Component Id="THERMOFISHER.COMMONCORE.RAWFILEREADER.DLL" DiskId="1" Guid="7DB1E2CD-288D-4FA0-AFA9-C5005B87541B">
                    <File Id="THERMOFISHER.COMMONCORE.RAWFILEREADER.DLL" Name="ThermoFisher.CommonCore.RawFileReader.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\ThermoFisher.CommonCore.RawFileReader.dll" />
                </Component>
                <Component Id="TIMSDATA.DLL" DiskId="1" Guid="F3E36495-014C-4CB9-A343-186C3BD221D0">
                    <File Id="TIMSDATA.DLL" Name="timsdata.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\timsdata.dll" />
                </Component>
                <Component Id="ZLIB.NET.DLL" DiskId="1" Guid="236519AC-2BA2-4E71-8BDD-131C5ECE516F">
                    <File Id="ZLIB.NET.DLL" Name="zlib.net.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\zlib.net.dll" />
                </Component>
                <Directory Id="DE" Name="de">
                    <Component Id="PDFSHARP_WPF.RESOURCES.DLL" DiskId="1" Guid="A85ED02E-A00B-42A0-89E2-4BF46AAF4C73">
                        <File Id="PDFSHARP_WPF.RESOURCES.DLL" Name="PdfSharp-wpf.resources.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\de\PdfSharp-wpf.resources.dll" />
                    </Component>
                    <Component Id="PDFSHARP.CHARTING_WPF.RESOURCES.DLL" DiskId="1" Guid="8635336E-2234-422C-9A96-D8BA79F7FAA2">
                        <File Id="PDFSHARP.CHARTING_WPF.RESOURCES.DLL" Name="PdfSharp.Charting-wpf.resources.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\de\PdfSharp.Charting-wpf.resources.dll" />
                    </Component>
                    <Component Id="PDFSHARP.CHARTING.RESOURCES.DLL" DiskId="1" Guid="247BC4F2-1004-4FDF-B749-DFF4B893579D">
                        <File Id="PDFSHARP.CHARTING.RESOURCES.DLL" Name="PdfSharp.Charting.resources.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\de\PdfSharp.Charting.resources.dll" />
                    </Component>
                    <Component Id="PDFSHARP.RESOURCES.DLL" DiskId="1" Guid="26E57FC9-E1FC-4F7F-A32E-9D67A148A2F1">
                        <File Id="PDFSHARP.RESOURCES.DLL" Name="PdfSharp.resources.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\de\PdfSharp.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="X64" Name="x64">
                    <Component Id="SQLITE.INTEROP.DLL" DiskId="1" Guid="5FF290A5-721B-4F6A-AC73-CE1E9332C5E4">
                        <File Id="SQLITE.INTEROP.DLL" Name="SQLite.Interop.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\x64\SQLite.Interop.dll" />
                    </Component>
                </Directory>
                <Directory Id="X86" Name="x86">
                    <Component Id="SQLITE.INTEROP.DLL_1" DiskId="1" Guid="3353A426-ADCE-41FF-A319-8271C189C404">
                        <File Id="SQLITE.INTEROP.DLL_1" Name="SQLite.Interop.dll" Source="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\x86\SQLite.Interop.dll" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="DesktopFolder" />
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ProgramMenuDir" Name="ScheltemaLab">
                    <Component Id="StartMenuShortcuts" Guid="F425D9F9-7FB7-4DBB-A408-1D5581C87A90">
                        <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
                        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" />
                        <Shortcut Id="UninstallProduct" Name="FragmentLab Uninstall" Description="Uninstalls the application" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>
        <Feature Id="DefaultFeature" Title="Main Feature" Level="1">
            <ComponentRef Id="BOUNCYCASTLE.CRYPTO.DLL" />
            <ComponentRef Id="FRAGMENTLAB.EXE" />
            <ComponentRef Id="FRAGMENTLAB.EXE.CONFIG" />
            <ComponentRef Id="FRAGMENTLAB.PDB" />
            <ComponentRef Id="GPLV2.TXT" />
            <ComponentRef Id="HECKLIB_CORE.DLL" />
            <ComponentRef Id="HECKLIB_CORE.PDB" />
            <ComponentRef Id="HECKLIB_DATABASE.DLL" />
            <ComponentRef Id="HECKLIB_DATABASE.PDB" />
            <ComponentRef Id="HECKLIB_GRAPHICS.DLL" />
            <ComponentRef Id="HECKLIB_GRAPHICS.PDB" />
            <ComponentRef Id="HECKLIB_PRECALC.DLL" />
            <ComponentRef Id="HECKLIB_RAWFILES_BRUKER.DLL" />
            <ComponentRef Id="HECKLIB_RAWFILES_BRUKER.PDB" />
            <ComponentRef Id="HECKLIB_RAWFILES_MGF.DLL" />
            <ComponentRef Id="HECKLIB_RAWFILES_MGF.PDB" />
            <ComponentRef Id="HECKLIB_RAWFILES_MZXML.DLL" />
            <ComponentRef Id="HECKLIB_RAWFILES_MZXML.PDB" />
            <ComponentRef Id="HECKLIB_RAWFILES_THERMO.DLL" />
            <ComponentRef Id="HECKLIB_RAWFILES_THERMO.DLL.CONFIG" />
            <ComponentRef Id="HECKLIB_RAWFILES_THERMO.PDB" />
            <ComponentRef Id="HECKLIB_RAWFILES.DLL" />
            <ComponentRef Id="HECKLIB_RAWFILES.PDB" />
            <ComponentRef Id="HECKLIB_WIN32.DLL" />
            <ComponentRef Id="HECKLIB_WIN32.DLL.CONFIG" />
            <ComponentRef Id="HECKLIB_WIN32.PDB" />
            <ComponentRef Id="ITEXTSHARP.DLL" />
            <ComponentRef Id="LIVECHARTS.DLL" />
            <ComponentRef Id="LIVECHARTS.WINFORMS.DLL" />
            <ComponentRef Id="LIVECHARTS.WPF.DLL" />
            <ComponentRef Id="OBJECTLISTVIEW.DLL" />
            <ComponentRef Id="OXYPLOT.CORE.DRAWING.DLL" />
            <ComponentRef Id="OXYPLOT.DLL" />
            <ComponentRef Id="PDFSHARP_WPF.DLL" />
            <ComponentRef Id="PDFSHARP.CHARTING_WPF.DLL" />
            <ComponentRef Id="PDFSHARP.CHARTING.DLL" />
            <ComponentRef Id="PDFSHARP.DLL" />
            <ComponentRef Id="PDFSHARP.XPS.DLL" />
            <ComponentRef Id="SYSTEM.BUFFERS.DLL" />
            <ComponentRef Id="SYSTEM.DATA.SQLITE.DLL" />
            <ComponentRef Id="SYSTEM.DRAWING.COMMON.DLL" />
            <ComponentRef Id="SYSTEM.IO.PACKAGING.DLL" />
            <ComponentRef Id="SYSTEM.MEMORY.DLL" />
            <ComponentRef Id="SYSTEM.NUMERICS.VECTORS.DLL" />
            <ComponentRef Id="SYSTEM.RESOURCES.EXTENSIONS.DLL" />
            <ComponentRef Id="SYSTEM.RUNTIME.COMPILERSERVICES.UNSAFE.DLL" />
            <ComponentRef Id="THERMOFISHER.COMMONCORE.BACKGROUNDSUBTRACTION.DLL" />
            <ComponentRef Id="THERMOFISHER.COMMONCORE.DATA.DLL" />
            <ComponentRef Id="THERMOFISHER.COMMONCORE.MASSPRECISIONESTIMATOR.DLL" />
            <ComponentRef Id="THERMOFISHER.COMMONCORE.RAWFILEREADER.DLL" />
            <ComponentRef Id="TIMSDATA.DLL" />
            <ComponentRef Id="ZLIB.NET.DLL" />
            <ComponentRef Id="PDFSHARP_WPF.RESOURCES.DLL" />
            <ComponentRef Id="PDFSHARP.CHARTING_WPF.RESOURCES.DLL" />
            <ComponentRef Id="PDFSHARP.CHARTING.RESOURCES.DLL" />
            <ComponentRef Id="PDFSHARP.RESOURCES.DLL" />
            <ComponentRef Id="SQLITE.INTEROP.DLL" />
            <ComponentRef Id="SQLITE.INTEROP.DLL_1" />
            <ComponentRef Id="StartMenuShortcuts" />
        </Feature>
        <UI />
        <UIRef Id="WixUI_Minimal" />
        <Icon Id="DesktopIcon.exe" SourceFile="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\FragmentLab.exe" />
        <Icon Id="StartMenuIcon.exe" SourceFile="c:\dev\Shotgun\FragmentLab\FragmentLab\bin\Debug\FragmentLab\FragmentLab.exe" />
    </Product>
</Wix>